import groovy.json.JsonSlurper
def JsonSlurper = new JsonSlurper()
azure_config = JsonSlurper.parse(new File("./credentials.json"))

params {
  /* Input, genomes, databases and output parameters */
  reads = 'az://orange/data/*_{1,2}.fq.gz'
  host_genome = 'az://orange/host_genome/GCF_022201045.2_DVS_A1.0_genomic.fna'
  genomedir = "az://orange/host_genome"
  multiqc = "$projectDir/multiqc"
  outdir = 'az://orange/results2'
  metaphlan_db = "az://orange/databases/metaphlan_db"
  eggnog_db = "az://orange/databases/eggnog_db"

  /* Kneaddata parameters */
  //bypass-trim = false
  //trimmomatic-options = "SLIDINGWINDOW:4:20 MINLEN:70"
  //sequencer-source = "NexteraPE"  // Available sequencers: ["NexteraPE","TruSeq2","TruSeq3"]
}

profiles {
  az_test {

    docker.enabled = true
    dag.overwrite = true

    process {
      executor = 'azurebatch'
    }

    azure {
      storage {
        accountName = azure_config["storageAccountName"]
        accountKey = azure_config["storageAccountKey"]
      }
      batch {
        location = 'westeurope'
        accountName = azure_config["batchAccountName"]
        accountKey = azure_config["batchAccountKey"]
        autoPoolMode = true
        allowPoolCreation = true
        pools {
          auto {
              autoScale = true
              vmType = 'Standard_D8_v3'
              maxVmCount = 10
          }
        }
      }
    }
  }

  local {
    docker.enabled = true
    dag.overwrite = true
  }
}