import groovy.json.JsonSlurper
def JsonSlurper = new JsonSlurper()
azure_config = JsonSlurper.parse(new File("./credentials.json"))

profiles {
  az_test {

    docker.enabled = true
    dag.overwrite = true

    params.reads = 'az://orange/data/O*_{1,2}.fq.gz'
    params.orange_genome = 'az://orange/orange_genome/GCF_022201045.2_DVS_A1.0_genomic.fna'
    params.genomedir = "az://orange/orange_genome"
    params.outdir = 'az://orange/results'
    params.metaphlan_db = "az://orange/databases/metaphlan_db"

    process {
      executor = 'azurebatch'
    }

    azure {
      storage {
        accountName = azure_config["storageAccountName"]
        accountKey = azure_config["storageAccountKey"]
      }
      batch {
        location = 'westeurope'
        accountName = azure_config["batchAccountName"]
        accountKey = azure_config["batchAccountKey"]
        autoPoolMode = true
        allowPoolCreation = true
        pools {
          auto {
              autoScale = true
              vmCount = 1
              maxVmCount = 10
          }
        }
      }
    }
  }

  local {
    docker.enabled = true
  }
}